.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fishCount,
.fishFood,
.money,
.fishCost,
.fishFoodCost,
.tank {
  color: red;
  display: inline;
}

.alert {
  color: red;
}
.canvas {
  border: black;
  border-width: 5px;
  border-style: solid;
  background-color: blue;
}
